<h3 class="display-5">Lista de Hamburguesas</h3>
<table class="table table-dark table-hover">
    <thead >
      <tr>
        <th class="table-dark" scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Ingredientes</th>
        <th scope="col">Precio</th>
        <th scope="col">stock</th>
        <th scope="col">Agregar</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{'table-offer' : burger.offer}"  *ngFor="let burger of burgers">  
        <td><img  [src]="burger.img" [alt]="burger.name" class="card-img-top" ></td>
        <td>{{burger.name | uppercase}}</td>
        <td>{{burger.type | titlecase}}</td>
        <td>{{burger.ingredients | titlecase}}</td>
        <td>{{burger.price | currency }}</td>
        <td><span class="badge text-bg-danger" *ngIf="burger.stock==0">SIN STOCK</span> {{burger.stock}}</td>
        <td><button type="button" class="btn btn-light">Agregar al carrito</button></td>    
      </tr>
    </tbody>
  </table>