<h3 class="display-6 text-decoration-underline text-center text-capitalize">Lista de Hamburguesas</h3>
<table class="table table-dark table-hover text-center">
  <thead>
    <tr>
      <th class="table-dark" scope="col">Imagen</th>
      <th scope="col">Nombre </th>
      <th scope="col">Tipo</th>
      <th scope="col">Ingredientes</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Agregar</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'table-offer' : burger.offer}" *ngFor="let burger of burgers">
      <td><img width="300" [src]="burger.img" [alt]="burger.name" class="img-thumbnail"></td>
      <td>{{burger.name | uppercase}}</td>
      <td>{{burger.type | titlecase}}</td>
      <td>{{burger.ingredients | titlecase}}</td>
      <td>{{burger.price | currency }}</td>
      <td>
        <span class="badge text-bg-success" *ngIf="burger.offer == true">EN OFERTA</span> 
        <span class="badge text-bg-danger" *ngIf="burger.stock==0">SIN STOCK</span>
        <span *ngIf="burger.stock > 0" > {{burger.stock}}</span>
      </td>
      <td>
        <app-input-number [(quantity)]="burger.quantity" [max]="burger.stock" *ngIf="burger.stock" (maxReached)="maxReached($event)"> </app-input-number>
      </td>
      <td><button  (click)="addToCart(burger)" class="btn btn-light ">Comprar</button></td>
    </tr>
  </tbody>
</table>