<h3 class="display-6  text-decoration-underline text-capitalize text-center">Carrito de compras</h3>
<table class="table table-dark table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Nombre </th>
            <th scope="col">Cantidad</th>
            <th scope="col">Cancelar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let burger of cartList$ | async">
            <td>{{burger.name | uppercase}}</td>
            <td>{{burger.quantity}} </td>
            <td><button  class="btn btn-close btn-danger "></button></td>
        </tr>
    </tbody>
</table>