<div class="container">
    <h3 class="display-6 text-center text-decoration-underline text-capitalize">Nuestra Info</h3>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="text-capitalize list-group-item list-group-item-dark">Telefono = 2284231664</li>
                <li class="text-capitalize list-group-item list-group-item-dark">E-mail = <a
                        href="http://lautarovg147@gmail.com" target="_blank"> lautarovg147@gmail.com</a></li>
                <li class=" text-capitalize list-group-item list-group-item-dark">instagram = <a
                        href="https://www.instagram.com/laugalloo/" target="_blank"> laugallo</a> </li>
            </ul>
        </div>
    </div>
</div>